*,
::after,
::before {
	box-sizing: border-box;
}

.swiper {
	width: 600px;
	height: 300px;
}

.pic {
	display: block;
	width: 100%;
	height: 250px;
	object-fit: cover;
}

:root {
	--swiper-theme-color: red;
}