body {
	font-family: Arial, sans-serif;
}

table {
	border-collapse: collapse;
	width: 100%;
}

table,
th,
td {
	border: 1px solid #ccc;
}

th,
td {
	padding: 10px;
	text-align: left;
}


.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}

button {
	cursor: pointer;
	max-width: 120px;

}