.container {
	max-width: 700px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

button {
	border: none;
	cursor: pointer;
	padding: 10px 15px;
	color: white;
	border-radius: 10px;
}

.addBook {
	background-color: rgb(1, 97, 1);

}


.search {
	background-color: rgb(18, 1, 147);
}